<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  {{!-- <script src="jquery-3.6.1.min.js"></script> --}}
</head>

<header>
  <h1>Tech Blog</h1>
  <a href="/home">Home</a>
  <a href="/dashboard">Dashboard</a>
  {{#if req.session.logged_in}}
  <p>Log Out</p>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
</header>
<body>
    {{{ body }}}
<script src="/js/script.js"></script>
</body>
</html>
