<h2>New Post</h2>

<form id="login-form">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">Blog:</label><br>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Submit">
</form>