<div id="new-post-box">
<h2>New Post</h2>
<form id="new-post-form">
    <label for="title">Title:</label><br>
    <input type="text" id="new-post-title" name="title"><br>
    {{!-- <textarea type="text" id="new-post-title" name="title"></textarea><br> --}}
    <label for="description">Blog:</label><br>
    {{!-- <input type="text" id="description" name="description"><br> --}}
    <textarea type="text" id="new-post-body" name="description"></textarea><br>
    <input id="new-post-submit-button" type="submit" value="Submit">
</form>
</div>