<div class="cred-box">
<h2>Register</h2>

<form id="register-form">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input id="reg-button" type="submit" value="Submit">
</form>
</div>